pkgbase = papersplease
	pkgdesc = Assume the role of an immigration inspector for the communist state of Arstotzka
	pkgver = 1.2.72
	pkgrel = 2
	url = http://papersplea.se
	arch = x86_64
	license = custom:commercial
	depends = hicolor-icon-theme
	depends = lib32-libgl
	depends = sdl2
	optdepends = lib32-alsa-lib: alsa sound support
	optdepends = lib32-libpulse: pulseaudio sound support
	options = !strip
	source = papersplease.desktop
	source = launch-papersplease.sh
	source = papersplease.png
	source = papers-please_1.2.72_x64.tar.gz::hib://papers-please_1.2.72_x64.tar.gz
	sha256sums = 478b736281d4d397bcff3972a548dc85bddae49342d561adefa25186310cd5ec
	sha256sums = d1beeb8f8e65c25fea3ea8e77570992a6e48f527fa724423ad2ae056a0595bd0
	sha256sums = e8aaf890dbfa6363f0197892ca2abd5ac4a45918787a8524cf8c99d785000823
	sha256sums = 41c60cecd525076128e1a5feeb691d63c5028006ec66c0eb772946a9476de9ae

pkgname = papersplease
